repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          ["--ignore-words-list=communicatie,co-ordinates,hart,ist,manuel,te"]
        exclude: "BIBLIOGRAPHY.bib|CONTRIBUTORS.rst|.*.ipynb"
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.6"
    hooks:
      - id: flynt
        args: [--verbose]
  - repo: https://github.com/PyCQA/isort
    rev: "7.0.0"
    hooks:
      - id: isort
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.10"
    hooks:
      - id: ruff-format
      - id: ruff
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        language_version: python3.10
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      # - id: rst-directive-colons
      - id: rst-inline-touching-normal
exclude: files/anders-langlands|files/api|output|files/assets/js|plugins/sass/sass.py|themes/colour-science/sass
