/*** https://bootstrap.build/ (Lux) ***/

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    color: #646465;
    font-size: 0.875rem;
    outline: none;
}

.dropdown-menu {
    border: none;
    font-size: 1rem;
}

/*** Footer ***/
#footer {
    background-color: #191920;
    border: none;
}

/*** Typography ***/

strong {
    font-weight: bold !important;
}

/*** Blockquote ***/
blockquote p, blockquote {
    font-size: 1rem !important;
}

/*** Code ***/
pre.code, pre.literal-block, .highlight pre {
    background-color: #f9f9fc;
    border: 0;
    border-radius: 0;
    margin-left: 0 !important;
}

/*** Blog Navigation ***/
ul.pager li a {
    border-radius: 0;
}

/*** Disqus ***/
section.comments {
    padding-top: 2rem;
}

/*** Jupyter Notebooks ***/
#notebook-container {
    padding-left: 0;
    padding-right: 0;
}

div.text_cell_render {
    color: #646465 !important;
}

div.prompt {
    display: none;
}

div.input_area pre {
    padding: 0.875rem !important;

}

div.output_area pre {
    padding: 0.875rem !important;
}

div.output_subarea {
    max-width: 100% !important;
    padding: 0 !important;
}

div.output_subarea pre {
    background-color: #f9f9fc !important;
    border-top: 0.2rem #f3f3f9 !important;
}

/*** Release Stages ***/
input[type=checkbox] {
    margin-right: 0.2rem;
}

input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through;
}

/*** Dash ***/
div._dash-undo-redo {
    display: none;
}

div#apps.row {
    margin-right: 0;
    margin-left: 0;
}

div.app-widget {
    margin-bottom: 1rem;
}

pre.app-output {
    margin-top: 2rem;
}

a.app-link:hover {
    text-decoration: underline !important;
}

/*** Gitter ***/
.gitter-open-chat-button {
    background-color: #19191d;
    border-radius: 0;
}

.gitter-open-chat-button:focus,
.gitter-open-chat-button:hover {
    background-color: #19191d;
}

.gitter-chat-embed {
    border-width: 0.2rem;
    box-shadow: none;
}

.gitter-chat-embed-action-bar {
    background: transparent;
}
