Options -Indexes
ErrorDocument 404 /404/index.html

RewriteOptions inherit
RewriteEngine on

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^blog_a_plea_for_colour_analysis_tools_in_dcc_applications\.php$ "http\:\/\/colour\-science\.org\/posts\/a\-plea\-for\-colour\-analysis\-tools\-in\-dcc\-applications\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^blog_about_rgb_colourspace_models_performance\.php$ "http\:\/\/colour\-science\.org\/posts\/about\-rgb\-colourspace\-models\-performance\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^blog_pycharm_vagrant_fabric_anaconda\.php$ "http\:\/\/colour\-science\.org\/posts\/pycharm\-vagrant\-fabric\-anaconda\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^blog_red_colourspaces_derivation\.php$ "http\:\/\/colour\-science\.org\/posts\/red\-colourspaces\-derivation\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^ipython\/a_plea_for_colour_analysis_tools_in_dcc_applications\.ipynb$ "http\:\/\/colour\-science\.org\/posts\/a\-plea\-for\-colour\-analysis\-tools\-in\-dcc\-applications\/index\.ipynb" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^ipython\/about_rendering_engines_colourspaces_agnosticism\.ipynb$ "http\:\/\/colour\-science\.org\/posts\/about\-rendering\-engines\-colourspaces\-agnosticism\/index\.ipynb" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^ipython\/about_colourspaces_colour_rendition_charts\.ipynb$ "http\:\/\/colour\-science\.org\/posts\/about\-rgb\-colourspace\-models\-performance\/index\.ipynb" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^ipython\/about_reflectance_recovery\.ipynb$ "http\:\/\/colour\-science\.org\/posts\/about\-reflectance\-recovery\/index\.ipynb" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^ipython\/red_colourspaces_derivation\.ipynb$ "http\:\/\/colour\-science\.org\/posts\/red\-colourspaces\-derivation\/index\.ipynb" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^news_2014_09_02\.php$ "http\:\/\/colour\-science\.org\/posts\/the\-first\-public\-release\-of\-colour\-is\-available\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^news_2014_10_28\.php$ "http\:\/\/colour\-science\.org\/posts\/colour\-033\-is\-available\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^news_2015_01_27\.php$ "http\:\/\/colour\-science\.org\/posts\/colour\-034\-is\-available\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^news_2015_05_06\.php$ "http\:\/\/colour\-science\.org\/posts\/colour\-035\-is\-available\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^colour\-science\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.colour\-science\.org$
RewriteRule ^news_2015_08_09\.php$ "http\:\/\/colour\-science\.org\/posts\/colour\-036\-is\-available\/" [R=301,L]
