/*** colour-science ***/

/*** Overrides ***/
$gray-100: #f9f9fd !default;
$gray-200: #e1e1e4 !default;
$gray-300: #c8c8cb !default;
$gray-400: #adadb1 !default;
$gray-500: #929295 !default;
$gray-600: #757578 !default;
$gray-700: #565659 !default;
$gray-800: #343438 !default;
$gray-900: #191920 !default;

$font-size-base: 1rem !default;
$font-size-sm: 0.85rem !default;

$jumbotron-bg: $gray-100 !default;

/*** Bootstrap & Bootswatch ***/
@import "bootswatch/variables";
@import "bootstrap/bootstrap.scss";
@import "bootswatch/bootswatch";

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    color: $gray-600;
    outline: none;
}

.dropdown-menu {
    border: none;
    font-size: 1rem;
}

/*** Footer ***/
#footer {
    background-color: $gray-900;
    border: none;
}

/*** Images ***/
.img-circle {
    border-radius: 50%;
}

/*** Typography ***/
a {
    font-weight: bold !important;
}

strong {
    font-weight: bold !important;
}

/*** Blockquote ***/
blockquote p, blockquote {
    font-size: 1rem !important;
}

/*** Code ***/
pre.code, pre.literal-block, .highlight pre {
    background-color: $gray-100;
    border: 0;
    border-radius: 0;
    margin-left: 0 !important;
}

/*** Blog Navigation ***/
ul.pager li a {
    border-radius: 0;
}

/*** Disqus ***/
section.comments {
    padding-top: 2rem;
}

/*** Jupyter Notebooks ***/
#notebook-container {
    padding-left: 0;
    padding-right: 0;
}

div.text_cell_render {
    color: $gray-600 !important;
}

div.prompt {
    display: none;
}

div.input_area pre {
    padding: $font-size-sm !important;

}

div.output_area pre {
    padding: $font-size-sm;
}

div.output_subarea {
    max-width: 100% !important;
    padding: 0 !important;
}

div.output_subarea pre {
    background-color: $gray-100 !important;
    border-top: 0.2rem $gray-200 !important;
}

/*** Release Stages ***/
input[type=checkbox] {
    margin-right: 0.2rem;
}

input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through;
}

/*** Dash ***/
div._dash-undo-redo {
    display: none;
}

div#apps.row {
    margin-right: 0;
    margin-left: 0;
}

div.app-widget {
    margin-bottom: 1rem;
}

pre.app-output {
    margin-top: 2rem;
}

a.app-link:hover {
    text-decoration: underline !important;
}

/*** Gitter ***/
.gitter-open-chat-button {
    background-color: $gray-900 !important;
    border-radius: 0;
}

.gitter-open-chat-button:focus,
.gitter-open-chat-button:hover {
    background-color: $gray-900 !important;
}

.gitter-chat-embed {
    border-width: 0.2rem;
    box-shadow: none;
}

.gitter-chat-embed-action-bar {
    background: transparent;
}
