/* Form */
.form {
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    bottom: 0;
    color: #222222;
    font-size: 15px;
    left: 0;
    margin: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.content {
    margin: 0px;
}

.form label {
    color: #222222;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form input[type=radio], input[type=checkbox] {
    margin: 10px;
    width: 15px;
}

.form div {
    display: block;
}

.form input, form textarea, form select {
    border-color: #dddddd;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    width: 100%;
}

.form, .form h1, .form h2 {
    font-family: 'Lato', sans-serif;;
}

.form h1 {
    color: #000000;
    font-size: 30px;
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-radius: 0px;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
    padding-bottom: 15px;
    text-align: center;
}

.introduction {
    margin-bottom: 25px;
}

.clear {
    clear: both;
}

.form textarea {
    height: 50px;
    width: 100%;
}

.form input[type=submit] {
    background-color: #cccccc;
    color: #222222;
    width: 100%;
}

.field {
    margin-bottom: 15px;
}

/* Matrix Table */
.table, .matrix-table {
    width: 100%;
    border-color: #dddddd;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
}

.table-row-header, .table-data-header {
    background-color: #4183c4;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.vertical-align-top {
    vertical-align: top;
}

.text-align-center {
    text-align: center;
}

.table-row-odd {
    background-color: #ecf3f9;
}

.matrix-table, .matrix-row, .matrix-column {
    padding: 5px;
    text-align: center;
}

.table, .table-canton, .table-row-header-group, .table-row-header, .table-data-header, .table-row, .table-data {
    border-color: #ffffff;
}
