/*** Logo Banner ***/
#logo-banner {
    background-image: url(../../images/Spectrum_001.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 8px;
    width: 100%;
}

/*** Navigation ***/
.navbar-brand #blog-title {
    padding: 12px 0;
}

/*** Jupyter Notebooks ***/
#notebook-container {
    padding-left: 0;
    padding-right: 0;
}

div.prompt {
    display: none;
}

/*** Search Form ***/
#search-form {
    padding-left: 0;
}

/*** Footer ***/
#footer {
    text-align: center;
}

.footer-links {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

/*** Alerts ***/
div.alert a:link {
    color: #333;
}

div.alert a:hover {
    color: #FFF;
    text-decoration: underline;
}

div.alert a:visited {
    color: #333;
}

/*** Gitter ***/
.gitter-open-chat-button {
    background-color: #4082bf;

}

.gitter-open-chat-button:focus,
.gitter-open-chat-button:hover {
    background-color: #264e73;

}

.gitter-chat-embed {
    z-index: 2000;
}
