/*** https://bootstrap.build/ ***/

/*** Logo Banner ***/
#logo-banner {
    background-image: url(../../images/Spectrum_001.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 8px;
    width: 100%;
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.65);
}

/*** Jumbotron ***/
div.jumbotron {
    padding: 2rem 2rem;
}

/*** Code ***/
pre {
    background-color: #f7f7f9;
    border: 0;
    border-radius: 0;
    margin-left: 0 !important;
}

/*** Blog Navigation ***/
ul.pager li a {
    border-radius: 0;
}

/*** Jupyter Notebooks ***/
#notebook-container {
    padding-left: 0;
    padding-right: 0;
}

div.text_cell_render {
    color: #55595c !important;
}

div.prompt {
    display: none;
}

div.input_area pre {
    padding: 12px !important;

}

div.output_area pre {
    padding: 12px !important;
}

div.output_subarea {
    max-width: 100% !important;
    padding: 0 !important;
}

div.output_subarea pre {
    background-color: #fff !important;
    border: 0.2rem solid #f7f7f9 !important;
}

/*** Release Stages ***/
input[type=checkbox]:checked + label.strikethrough {
    margin-right: 1rem;
    text-decoration: line-through;
}

/*** Dash ***/
div._dash-undo-redo {
    display: none;
}

div#apps.row {
    margin-right: 0;
    margin-left: 0;
}

div.app-widget {
    margin-bottom: 1rem;
}

pre.app-output {
    margin-top: 30px;
}

/*** Gitter ***/
.gitter-open-chat-button {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 0;
}

.gitter-open-chat-button:focus,
.gitter-open-chat-button:hover {
    background-color: #000;
}
