
$white: #fff;
$gray-300: #dbdbe1;
$gray-400: #cbcbcf;
$gray-500: #b8b8bc;
$gray-600: #a2a2a6;
$gray-800: #646467;
$gray-900: #191920;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #fd7e14;
$yellow: #f0ad4e;
$green: #4BBF73;
$teal: #20c997;
$cyan: #1F9BCF;
$primary: $gray-900;
$secondary: $white;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $gray-800;
$yiq-contrasted-threshold: 185;
$gray-700: #87878b;
$body-color: $gray-700;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$headings-color: $gray-900;
$table-border-color: rgba(0, 0, 0, 0.05);
$input-btn-border-width: 0;
$btn-line-height: 1.5rem;
$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 2rem;
$input-btn-padding-y-sm: .5rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-y-lg: 2rem;
$input-btn-padding-x-lg: 3rem;
$btn-font-weight: 600;
$input-line-height: 1.5rem;
$gray-200: #ebebf0;
$input-bg: $gray-200;
$input-disabled-bg: $gray-300;
$input-group-addon-bg: $gray-300;
$navbar-padding-y: 1.5rem;
$navbar-dark-hover-color: $white;
$navbar-light-color: rgba($black,.3);
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;
$pagination-border-color: transparent;
$pagination-hover-border-color: $pagination-border-color;
$pagination-disabled-border-color: $pagination-border-color;
$breadcrumb-bg: transparent;
$gray-100: #f9f9fe;
$jumbotron-bg: $gray-100;