/*** Logo Banner ***/
#logo-banner {
    background-image: url(../../images/Spectrum_001.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 8px;
    width: 100%;
}

/*** Navigation ***/
.navbar-brand #blog-title {
    padding: 12px 0;
}

/*** IPython Notebooks ***/
div.prompt {
    display: none;
}

/*** Search Form ***/
#search-form {
    padding-left: 0;
}